<h1>Registrazione nuovo ddt/fattura: inserimento documento</h1>

<p class="info">
A ogni documento verrà associato un <strong>numero di record</strong> progressivo che sarà relazionato a tutti gli 
articoli caricati con lo stesso ddt/fatt/scontrino.<br/>
Al fine di certificare il carico, per prassi, il numero di record si annota sul documento di accompagnamento.
</p>

<%= render partial: 'form' %>

