<p class="info">Risultati ricerca <strong>"<%= @search_string %>"</strong></p>

<div class="list-group">
  <% @things.each do |thing| %>  
    <%= link_to fwdmicon('star') + thing, thing_actions_url(thing), class: "list-group-item list-group-item-action py-2" %>
  <% end %>

  <% if current_user.is_cesia? %>  
    <% @permissions.each do |p| %>  
      <%= link_to fwdmicon('user') + p.user, dm_unibo_common.permission_path(p), class: "list-group-item list-group-item-action py-2" %>
    <% end %>

    <% @organizations.each do |organization| %>  
      <%= link_to fwdmicon('building') + organization, current_organization_edit_path(__org__: organization.code), class: "list-group-item list-group-item-action py-2" %>
    <% end %>
  <% end %>
</div>
