<p class="info">Seleziona la categoria che contiene l'articolo su cui vuoi operare.</p>

<div class="list-group">
  <% @groups.each do |group| %>
    <% if !group.hidden || policy(current_organization).manage? %>
      <%= link_to group_things_path(group), class: "list-group-item list-group-item-action py-2" do %>
        <%= group %>
        <% if group.hidden %>
          <div class="badge bg-warning text-black float-end">Nascosto</div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="mt-4" data-controller="focus">
  <%= form_with url: find_things_path, class: 'form-inline', data: { turbo: false } do %>
    <label class="d-block" for="thing_string">Ricerca libera sul nome dell'articolo o codice a barre:</label>
    <input id="search_string" name="search_string" size="6" type="text" placeholder="cerca" class="my-2 d-inline" data-focus-target="input" />
    <%= submit_tag 'Cerca', class: 'button ms-2' %>
  <% end %>
</div>
