<p class="info">Seleziona la categoria che contiene l'articolo su cui vuoi operare.</p>

<div class="list-group">
  <% @groups.each do |group| %>
    <%= link_to group, group_things_path(group), class: "list-group-item list-group-item-action py-2" %>
  <% end %>
</div>

<p>
<%= form_tag find_things_path, class: 'form-inline' do %>
  <label for="thing_string">Ricerca libera sul nome dell'articolo o codice a barre: </label>
  <div class="form-group ml-2 mr-2">
    <input id="search_string" name="search_string" size="6" type="text" placeholder="cerca" />
  </div>
  <%= submit_tag 'Cerca', class: 'button' %>
<% end %>
</p>

<%= render partial: 'shared/js_focus', locals: { focus_id: 'search_string' }  %>  

