<p class="info">Seleziona la categoria che contiene l'articolo su cui vuoi operare.</p>

<div class="list-group">
  <% @groups.each do |group| %>
    <%= link_to group, group_things_path(group), class: "list-group-item list-group-item-action py-2" %>
  <% end %>
</div>

<div data-controller="focus">
<%= form_with url: find_things_path, class: 'form-inline', data: { turbo: false } do %>
  <label for="thing_string">Ricerca libera sul nome dell'articolo o codice a barre: </label>
  <input id="search_string" name="search_string" size="6" type="text" placeholder="cerca" class="my-2" data-focus-target="input" />
  <%= submit_tag 'Cerca', class: 'button' %>
<% end %>
</div>
