<h1 class="h1">
  GE.M.MA <br/>
  <span class="small">GEstione Multiutente MAteriale di consumo</span>
</h1>

<% if current_user %>
  <% if @available_organizations.any? %>
    <h3 class="my-3">Scegli la struttura su cui vuoi operare</h3>

    <% @available_organizations.each do |o| %>
      <div class="py-1">
        <%= link_to o, groups_path(__org__: o.code), class: "btn btn-outline-primary btn-lg w-100" %>
      </div>
    <% end %>
  <% else %>
    <div class="alert alert-danger">Non hai accesso a nessuna struttura organizzativa.<br/>
      Se la struttura a cui vuoi accedere permette la prenotazione del materiale devi utilizzare l'indirizzo corretto <br/> 
      (del tipo <i>https://gemma.unibo.it/<b>codice_struttura</b></i> come fornito dal resposabile della struttura su cui devi operare).
    </div>
  <% end %>
<% else %>
  <div class="text-center my-3">
    <%= login_link_title %>
    <%= login_link(btn: true) %>
  </div>
<% end %>

<div class="alert alert-light my-3">
  <%= Rails.configuration.unibo_common.home_description.html_safe %>
</div>
