<div class="row alert alert-secondary">
  <label class="col-sm-3 col-form-label">
    Formato
  </label>
  <div class="col-sm-9">
    <input class="form-check-input" name="report[format]" type="radio" value="txt" id="txt" CHECKED />
    <label class="form-check-label pe-3" for="txt">txt <i class="fa-regular fa-file-word fa-xl"></i></label>
    <input class="form-check-input" name="report[format]" type="radio" value="csv" id="csv" />
    <label class="form-check-label pe-3" for="csv">csv <i class="fa-regular fa-file-excel fa-xl"></i></label>
    <input class="form-check-input" name="report[format]" type="radio" value="pdf" id="pdf" />
    <label class="form-check-label " for="pdf">pdf <i class="fa-regular fa-file-pdf fa-xl"></i></label>
  </div>
</div>
