<h1>Contatti</h1>

<p>
Per ogni tipo di commento, domanda o suggerimento riguardante il programma 
inviare una mail all'indirizzo 
<a href="mailto:dipmat-gemma@unibo.it">dipmat-gemma@unibo.it</a>.
</p>

<p>
  Utilizzando la mail è possibile richiedere la <strong>chiusura degli anni passati</strong>.<br/>
  Questa operazione viene per ora fatta solo su richiesta.<br/>
</p>


