<div class="alert alert-warning">
  <h1>Pagina non esistente.</h1>

  <p>
  La pagina richiesta non esiste più.<br/>
  Si prega di ricominciare la navigazione dalla pagina principale <a href="https://gemma.dm.unibo.it">https://gemma.unibo.it</a>.
  </p>

  <p>
  Per problemi contattare <%= mail_to Rails.configuration.dm_unibo_common[:support_mail] %>.
  </p>
</div>



