<div class="alert alert-warning">
  <h1>Pagina non esistente.</h1>

  <p>
  La pagina richiesta non esiste più. <br/>
  L'indirizzo corretto è 
  <a href="https://gemma.dm.unibo.it">https://gemma.dm.unibo.it</a>.
  </p>

  <p>
  Per problemi contattare <%= Rails.configuration.dm_unibo_common[:support_mail] %> o telefonare al numero 051-2094421.
  </p>
</div>



