@import "variables";
@import "tables";
@import "moves";

body {
  color: rgb(62, 62, 62);
}

#thingmenu {
  @extend .nav;
  @extend .nav-pills;
  @extend .nav-fill;
  font-size: 13px;
  li {
    @extend .nav-item;
    a, button { @extend .nav-link; }
  }
  li.active {
    a, button { @extend .active; }
  }
}

@media (min-width: 900px) {
  #thingmenu {
    padding: 10px 120px 0 120px;
    font-size: 16px;
  } 
}

.actual-number {
  @extend .badge;
  @extend .float-end;
  font-size: 100%;
  &.empty { @extend .bg-danger; }
  &.full  { @extend .bg-success; }
  &.warning  { @extend .bg-warning; }
}
.number {
  text-align: right;
}

#search_string {
  @extend .form-control;
  width: 30ex;
}

input.choosen_dsauser {
  @extend .form-control;
  width: 30em;
}

ul.groups-list, ul.locations-list, ul.ddts-list, ul.deposits, ul.inactive_things {
  @extend .list-group;
  li {
    @extend .list-group-item;
    span { float: right; }
  }
}

.help-main {
  font-size: 14px;
  li {
   list-style-type: circle; 
  }
}

.shift-locations {
  .shift-from {
    border-right: 2px solid;
    input:checked + label {
      @extend .btn-info;
    }
  }
  .shift-to {
    input:checked + label {
      @extend .btn-info;
    }
  }
  label {
    @extend .m-1;
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-outline-secondary;

  }
  input {
    display: none;
  }
}
ul.booking-things {
  list-style-type: none;
  span.number {
    display: inline-block;
    width: 4em;
    text-align: right;
    font-weight: bold;
  }
}
input.numeric-cents {
  width: 4em;
}

.thing_locations {
  span.checkbox {
    display: block;
    input {
      display: inline;
    }
  }
}


