<div class="list-group" id="suppliers_list">
  <% suppliers.each do |supplier| %>
    <% action = (what_for == 'ddt') ? new_supplier_ddt_path(supplier) : edit_supplier_path(supplier) %>  
    <%= link_to action, class: 'list-group-item list-group-item-action' do %>
      <%= supplier %>  <span class="float-end"><%= supplier.pi %></span>
    <% end %>
  <% end %>
</div>
