<p>
  <label class="my-2">Formato</label><br/>
  <input name="format" type="radio" value="txt" CHECKED />
  txt <%= dm_icon('file-word') %>
  <input name="format" type="radio" value="csv" />
  csv <%= dm_icon('file-csv') %>
  <input name="format" type="radio" value="pdf" />
  pdf <%= dm_icon('file-pdf') %>
</p>

