<p>
  <label class="my-2">Formato</label><br/>
  <input name="format" type="radio" value="txt" CHECKED />
  txt <%= big_dmicon('file-word', prefix: 'fas') %>
  <input name="format" type="radio" value="csv" />
  csv <%= big_dmicon('file-csv', prefix: 'fas') %>
  <input name="format" type="radio" value="pdf" />
  pdf <%= big_dmicon('file-pdf', prefix: 'fas') %>
</p>

