<h2>Scarichi utente</h2>

<%= form_with url: provision_reports_path, data: { turbo: false } do %>

  <%= render partial: "format" %>
  <%= render partial: "period" %>

  <p>
  <%= submit_tag "Scarica" %>
  </p>

<% end %>

